<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erinic.zhspider.dao.UserBaseInfoDao">

	<resultMap id="BaseResultMap" type="com.erinic.zhspider.model.ZhInfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="summary" property="summary" jdbcType="VARCHAR" />
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
		<result column="agree" property="agree" jdbcType="INTEGER" />
		<result column="attention" property="attention" jdbcType="INTEGER" />
	</resultMap>
	<!--<resultMap id="ResultMapWithBLOBs" type="com.ming.zhihuWebSpider.model.UserBaseInfo" extends="BaseResultMap">-->
		<!--<result column="description" property="description" jdbcType="LONGVARCHAR" />-->
	<!--</resultMap>-->
	<!--<resultMap id="getInfoLimit" type="com.erinic.zhspider.model.ZhInfo" extends="BaseResultMap">-->
		<!--<result column="itemResultAmount" property="itemResultAmount" jdbcType="INTEGER" />-->
		<!--<result column="selectLimitAmount" property="selectLimitAmount" jdbcType="INTEGER" />-->
	<!--</resultMap>-->
	<!--<sql id="Base_Column_List">-->
		<!--id, pageUrl, nickname, location, weiboUrl, headline,-->
		<!--followees, followers, columns, topics, pageViews,-->
		<!--questions, answers,-->
		<!--articles, collections,-->
		<!--edits, agreeNums, thanksNums,-->
		<!--addtime,lastDynamic,lastDynamicTime-->
	<!--</sql>-->
	<!--<sql id="Blob_Column_List">-->
		<!--description-->
	<!--</sql>-->

	<select id="getInfoLimit" resultMap="BaseResultMap">
		SELECT *
        FROM zh_info
        limit #{offset},#{limit}
	</select>

	<select id="queryById" resultMap="BaseResultMap">

		SELECT *
		FROM zh_info
		WHERE id = #{zhInfoId}
	</select>
	<!---->
	<!--<select id="getAmountByReocordItem" resultMap="BaseResultMap">-->
	 <!--<if test="questions != null" >-->
	 	<!--select sum(questions) from user_base_info-->
	 <!--</if>-->
	 <!--<if test="answers != null" >-->
	 	<!--select sum(answers) from user_base_info-->
	 <!--</if>-->
	 <!--<if test="articles != null" >-->
	 	<!--select sum(articles) from user_base_info-->
	 <!--</if>-->
	 <!--<if test="collections != null" >-->
	 	<!--select sum(collections) from user_base_info-->
	 <!--</if>-->
	 <!--<if test="agreeNums != null" >-->
	 	<!--select sum(agreeNums) from user_base_info-->
	 <!--</if>-->
	 <!--<if test="thanksNums != null" >-->
	 	<!--select sum(thanksNums) from user_base_info-->
	 <!--</if>-->
	 <!--<if test="followees != null" >-->
	 	<!--select sum(followees) from user_base_info-->
	 <!--</if>-->
	 <!--<if test="followers != null" >-->
	 	<!--select sum(followers) from user_base_info-->
	 <!--</if>-->
	 <!--<if test="topics != null" >-->
	 	<!--select sum(followers) from user_base_info-->
	 <!--</if>-->
	 <!--<if test="columns != null" >-->
	 	<!--select sum(columns) from user_base_info-->
	 <!--</if>-->
	 <!--<if test="edits != null" >-->
	 	<!--select sum(edits) from user_base_info-->
	 <!--</if>-->
	<!--</select>-->
	<!---->

</mapper>